= provide(:title, 'О нас')
%h1 О нас
%p
%p.western{:style => "margin-bottom: 0cm;"} Мы рады приветствовать Вас на нашем сайте.
%p  
%p.western{:style => "margin-bottom: 0cm;"} Здесь мы предложим Вашему вниманию статьи о странах, которые для Вашего удобства объединены в группы по географическому расположению.
%p  
%p.western{:style => "margin-bottom: 0cm;"} В своих статьях мы не ставили своей целью рассказать обо всех достопримечательностях страны, или в точности описать ее географические особенности и устройство. Мы хотели, чтобы, прочитав нашу статью, у Вас сложилось представление о стране, появилась картинка-образ. Чтобы название страны больше не было для Вас пустым звуком, а вызывало определенные ассоциации. Мы писали о том, что заинтересовало нас в той или иной стране и надеемся, что наши «картинки» о странах понравятся Вам и вызовут желание поехать в путешествие и увидеть все своими глазами.
%p  
%p.western{:style => "margin-bottom: 0cm;"} 
  Будем рады, если Вы оставите 
  = link_to "отзыв", contact_path
  или напишите о своих впечатлениях от путешествий.
%p