= render 'shared/error_messages', object: f.object
/= f.label :name, "Имя"
= f.text_field :name, placeholder: "Ваше имя"
/= f.label :email
= f.text_field :email, placeholder: "Ваш email"
/= f.label :content, "Сообщение"
= f.text_area :content, placeholder: "Текст сообщения не более 500 символов"