- provide(:title, 'Обратная связь')
%h1 Обратная связь
.row-fluid
  .span6.offset3
    = form_for(@message) do |f|
      = render 'fields', f: f
      = f.submit "Отправить сообщение", class: "btn btn-large btn-primary"