- provide(:title, "Вход на сайт")
%h1 Вход на сайт
.row-fluid
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      /= f.label :email
      = f.text_field :email, placeholder: "Введите Email"
      /= f.label :password, "Пароль"
      = f.password_field :password, placeholder: "Введите Пароль"
      = f.submit "Войти", class: "btn btn-large btn-primary"
    .pull-right
      Новый пользователь? #{link_to "Регистрация!", signup_path}