= render 'shared/error_messages', object: f.object
= f.label :name, "Ник"
= f.text_field :name
= f.label :email
= f.text_field :email
= f.label :password, "Пароль"
= f.password_field :password
= f.label :password_confirmation, "Подтверждение"
= f.password_field :password_confirmation