- provide(:title, "Редактировать профиль")
%h1 Изменение вашего профиля
.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'fields', f: f
      = f.submit "Сохранить", class: "btn btn-large btn-primary"