- provide(:title, 'Регистрация')
%h1 Регистрация
.row-fluid
  .span6.offset3
    = form_for(@user) do |f|
      = render 'fields', f: f
      = f.submit "Создать аккаунт", class: "btn btn-large btn-primary"