#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    .active.item
      = link_to image_tag("Waterfront.jpg"), 'countries/new_zealand'
    .item
      = link_to image_tag("italy.jpg"), 'countries/italy'
    .item
      = link_to image_tag("Waterfront.jpg"), 'countries/greece'
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›