- @countries.each_with_index do |country, i|
  - break if i == 5;
  %h2
    = country.title
  = raw truncate(country.content, :length => 1200, :omission => " ")
  = link_to "Читать далее ...", country_path(country)
  %hr