%h2 Оставить комментарий:
= form_for([@country, @country.comments.build]) do |f|
    = render 'shared/error_messages', object: f.object
    /= f.label :commenter, "Имя"
    = f.text_field :commenter, placeholder: "Имя не более 25 символов" , class: "input-xlarge"
    /= f.label :body, "Текст"
    = f.text_area :body, placeholder: "Текст не более 500 символов", rows: 5
    = f.submit "Отправить", class: "btn btn-large btn-primary"