= render 'shared/error_messages', object: f.object
= f.label :title, "Название страны"
= f.text_field :title, class: "input-xlarge"
= f.label :url_name, "Название страны на английском языке"
= f.text_field :url_name, class: "input-xlarge"
= f.label :category_id, "Категория"
.input-xlarge
  = f.collection_select :category_id, Category.all, :id, :title
= f.label :content, "Содержимое статьи"
= f.text_area :content, :class => "tinymce", :rows => 60, :cols => 120
= tinymce