- provide(:title, 'Изменить статью')
%h1 Изменить статью
.row-fluid
  .span12
    = form_for(@country) do |f|
      = render 'fields', f: f
      = f.submit "Сохранить", class: "btn btn-large btn-primary"