= render 'shared/carusel'
%h1 Все страны по категориям
.span6.offset2  
  %table
    - @categories.each do |category|
      .offset0
        %tr
        %th
          %h2
            = category.title
        %td
          - @countries.each do |country|
            - if country.category.id == category.id;
              /.center
              %h3
                = link_to country.title, country_path(country)
