- provide(:title, 'Добавить страну')
%h1 Добавить страну
.row-fluid
  .span12
    = form_for(@country) do |f|
      = render 'fields', f: f
      = f.submit "Добавить статью", class: "btn btn-large btn-primary"