- provide(:title, @country.title)
- if File.exist?("app/assets/images/"+@country.slug + ".jpg")
  = image_tag(@country.slug + ".jpg", alt: @country.title, class: "img-country")
%h1
  = @country.title
.row-fluid
  .pull-right
    %span.label.label-inverse.label-category
      = raw link_to @country.category.title, category_path(@country.category)
.row-fluid
  %p
    = raw @country.content
  - if signed_in? && current_user.admin?
    %p
      = link_to 'Редактировать', edit_country_path(@country)
      -if current_user.name == "admin"
        | 
        = link_to 'Удалить', { :action => :destroy, :id => @country.id }, :method => :delete, :confirm => 'Are you sure?'
.row-fluid
  = render 'comments'
  %br
  = render 'add_comment'