= render 'shared/error_messages', object: f.object
= f.label :title, "Название категории"
= f.text_field :title, class: "input-xlarge"
= f.label :url_title, "Название категории на английском языке"
= f.text_field :url_title, class: "input-xlarge"