- provide(:title, @category.title)
%h1 
  = @category.title
- @countries.each do |country|
  %h4
    = link_to country.title, country_path(country)
  %p
    = raw truncate(country.content, :length => 500, :omission => "...")
    = link_to "Читать далее ...", country_path(country)
  %hr