%footer.footer
  %small
    %p
      Сделал
      = link_to "Vitaminus", "http://goo.gl/3fx5T", class: "powered_by", target: "_blank"
  %nav
    %ul
      %li= link_to "О нас", about_path
      %li= link_to "Обратная связь", contact_path