%header.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to "Travel", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Главная", root_path
          %li= link_to "Страны", countries_path
          %li= link_to "Обратная связь", contact_path
          - if signed_in?
            - if current_user.admin?
              %li#fat-menu.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Учетная запись
                  %b.caret
                %ul.dropdown-menu
                  %li#hello= link_to "Привет " + current_user.name, '#'
                  %li= link_to "Добавить страну", new_country_path
                  /%li= link_to "Добавить категорию", new_category_path
                  %li= link_to "Пользователи", users_path
                  %li= link_to "Профиль", current_user
                  %li= link_to "Внести изменения", edit_user_path(current_user)
                  %li.divider
                  %li
                    = link_to "Выйти", signout_path, method: "delete"
            - else
              %li
                = link_to "Выйти", signout_path, method: "delete"
          - else
            %li
              = link_to "Вход", signin_path
            /%li= link_to "Регистрация", signup_path