!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container-fluid
      .row-fluid
        .span3
          = render 'layouts/menu'
        .span9
          %ul.breadcrumbs
            = render_breadcrumbs :separator => ' / '
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
      .row-fluid
        = render 'layouts/footer'
        = debug(params) if Rails.env.development?